.form-wrapper {
  @include base-flex();
  flex-direction: row;
  padding-top: 109px;
  height: 60px;

  label {
    font-size: 15px;
    color: #494949;
    letter-spacing: 0.3px;
    text-align: left;
  }
  .zip-code {
    display: flex;
    color: #494949;
    width: 108px;
    height: 33px;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 16px;
  }

  button {
    transform: translateY(0.6rem);
  }
}
