.title-wrapper {
  height: 72px;
  .weather-state {
    font-size: 39.3px;
    color: #414a4a;
    text-align: center;
  }

  .weather-icon {
    transform: translate(9px, 9px);
  }

  .weather-description {
    font-size: 19px;
    color: #4a4a4a;
    text-align: center;
    padding-top: 14px;
    text-transform: capitalize;
  }
}
